.classify {
  font-size: 2rem;
  color: aliceblue;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.post-list {
  width: 100%;
}

.block-area {
  width: 100%;
  margin-bottom: 48px;
}

#home {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow-y: hidden;
}
